<% layout('./layout/boilerplate.ejs') %>
<link rel="stylesheet" href="/stylesheets/stars.css">
<div class="row mb-5">
  <div class="card col-md-6">
    <img src="<%= camp.image %>" alt="camp image" class="mt-3 card-img-top">
    <div class="card-body">
      <h2 class="card-title"><%= camp.title %></h2>
      <p class="card-tex fw-semibold"><%=camp.description%></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item fs-5 fw-semibold"><%= camp.location %></li>
      <li class="list-group-item fs-5 fw-semibold">$<%=camp.price.toFixed(2)%>/night</li>
      <% if ( !(currentUser) || !(camp.author.equals(currentUser._id)) ) { %>
        <li class="list-group-item fs-5 fw-semibold">Submitted by <%= camp.author.username %></li>
      <% } %>
    </ul>
    <% if(currentUser && camp.author.equals(currentUser._id)) { %>
      <div class="card-body">
        <a href="/campgrounds/<%= camp._id %>/edit" class="btn btn-primary py-2 px-4 fs-5">Edit</a>
        <form class="d-inline" action="/campgrounds/<%= camp._id %>?_method=DELETE" method="post"">
          <button class="d-inline mx-4 btn btn-danger py-2 px-4 fs-5">Delete</a>
        </form>
      </div>
    <% } %>
  </div>
  <div class="col-md-5 mt-3 ms-md-5">
    <% if (currentUser) { %>
    <h2 class="mb-4">Leave A Review</h2>
    <form class="form-validation" action="/campgrounds/<%= camp._id %>/reviews/new" method="post" novalidate>
      <div class="mb-3">
        <fieldset class="starability-basic mt-2">
          <legend  class="form-label fs-5 fw-bold">Rating:</legend>
          <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
          <input type="radio" id="first-rate1" name="review[rating]" value="1" />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input type="radio" id="first-rate2" name="review[rating]" value="2" />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input type="radio" id="first-rate3" name="review[rating]" value="3" />
          <label for="first-rate3" title="Average">3 stars</label>
          <input type="radio" id="first-rate4" name="review[rating]" value="4" />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input type="radio" id="first-rate5" name="review[rating]" value="5" />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
      </div>
      <div class="mb-3">
        <label class="form-label fs-5 fw-bold" for="body">Review</label>
        <textarea required class="form-control border border-black fw-semibold" name="review[body]" id="body" cols="30" rows="3" placeholder="Leave your review here..."></textarea>
        <div class="valid-feedback fs-6 fw-semibold">
          Looks good!
        </div>
        <div class="invalid-feedback fs-6 fw-semibold">
          Please enter a review
        </div>   
      </div>
      <button class="btn btn-success mt-2">Submit</button>
    </form>
    <% } %>
    <section class="mt-3">
      <h2>Reviews</h2>
      <% for( let review of camp.reviews ) { %>
          <div class="card mt-3">
            <div class="card-body">
              <p class="starability-result mt-2" data-rating=<%= review.rating %>>
                Rated: <%= review.rating %> stars
              </p>
              <div class="card-subtitle fw-bold mb-2">By <%= review.author.username %></div>
              <div class="card-text"><%= review.body %></div>
              <% if (currentUser && review.author._id.equals(currentUser._id)) { %>
                <form class="d-flex flex-row-reverse" action="/campgrounds/<%= camp._id %>/reviews/<%= review._id %>?_method=DELETE" method="post"><button class="mt-2 btn btn-sm btn-danger">Delete</button></form> 
              <% } %>
            </div>
          </div>
      <% } %>
    </section>
  </div>
</div>


